{
  "data-root": "/workspace/docker",
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3"
  },
  "live-restore": true,
  "builder": {
    "gc": {
      "enabled": true,
      "defaultReservedSpace": "{{ dev_worker_buildkit_gc_reserved }}",
      "defaultMaxUsedSpace": "{{ dev_worker_buildkit_gc_max_used }}",
      "defaultMinFreeSpace": "{{ dev_worker_buildkit_gc_min_free }}"
    }
  }
}
