apiVersion: v1
kind: Config
clusters:
- name: ai
  cluster:
    server: {{ dev_worker_tep_server }}
    certificate-authority-data: {{ tep_cluster_ca_b64 }}
contexts:
- name: tep
  context:
    cluster: ai
    user: tep-{{ inventory_hostname | regex_replace('^dev-worker-', 'dw') }}
    namespace: {{ dev_worker_tep_namespace }}
current-context: tep
users:
- name: tep-{{ inventory_hostname | regex_replace('^dev-worker-', 'dw') }}
  user:
    token: {{ tep_tokens[inventory_hostname] }}
